{% extends "layout.html" %}
{# make a "name" variable #}
{% set name=artist.data['name'] %}
{% block title %}
    {{ _('MusicBrainz Artist: %(title)s', title=name) }}
{% endblock %}
{% block content %}
    <section id="overview">
        <h2>{{
            _('%(title)s %(disambiguation)s', **{
                'title': name,
                'disambiguation': Markup('<span style="font-size:smaller">') +
                                  artist.data['disambiguation'] +
                                  Markup('</span>'),
            })
        }}</h2>
        <section id="bio">
           {% include 'bio.html' %}
        </section>
        <section id="links">
            <ul>
                    <li>to do: discography.html</li>
                    <li>to do: figure out what subpages we want</li>
                    <li><a href="http://musicbrainz.org/artist/{{artist.data['id'] }} ">{{ artist.data['name'] }} on MusicBrainz</a></li>
            </ul>
        </section>
        <article id="wiki">
            <p id="wp-summary" style="text-align:justify;"></p>
            <script>getWikiText({{artist.wikipedia[0]|tojson|safe}},{{artist.wikipedia[1]|tojson|safe}})</script>
        </article>
    </section>
        <section id="debug">
        <!-- full json dump for debugging, to be removed -->
        {% include 'debug.html' %}
    </section>
{% endblock %}
    
