{% set  begin = artist.data['life-span']['begin'] %}
{% set end = artist.data['life-span']['end'] %}
{% set relations = artist.data['relations'] %}

{# grrr, append not working #}
{% set performance_name = [] %}
{% for relation in relations %}
{% if relation['type'] == "is person" and relation['direction'] == "forward" %}
{% do performance_name.append(relation) %}
{% endif %}
{% endfor %}
<p>{{performance_name}}</p>

<p>
    <ul style="list-style-type:none;">
    {% if begin %}
    <li>Born: {{begin}}</li>
    {% endif %}
    {% if end %}
    <li>Died: {{end}}</li>
    {% endif %}
</ul>

AKA:
<ul style="list-style-type:none; ">
{% for relation in relations %}
{% if relation['type'] == "is person" %}
<li><a href="{{ "http://127.0.0.1:19048/artist/"+relation['artist']['id'] }}">{{ relation['artist']['name']}}</a></li>
{% endif %}
{% endfor %}
</ul>
    



</p>

