{% extends "layout.html" %}

{% block title %}
    {{request.args.query}} {{_('MusicBottle %s search' %(request.args.type), title=name)}}
{% endblock %}

{% block search_form %}{% endblock %}

{% block content %}
    <section>
        {% include 'search_form.html' %}
    </section>
    <section>
        {% if results.type == 'artist'%}
            <h4>{{_('Artists')}}</h4>
            {% if results.artist %}
                <ul style="list-style:none">
                    {% for artist in results.artist %}
                        <li><a href="{{ url_for('artist', artist_mbid=artist.id) }}">{{artist.name}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <div>{{_('No Artist found.')}}</div>
            {% endif %}
        {% endif %}
    </section>
    <section id="debug">
        <pre>{{results|pprint()}}<pre>
    </section>
{% endblock %}
