<form method="GET" action="{{url_for('musicbottle_search')}}">
    <input type="search" name="query" value="{{request.args.query}}">
    <select name="type">
        <option value="artist" {% if request.args.type == 'artist' %} selected="selected" {% endif %} >{{_('Artist')}}</option>
        <option value="recording" {% if request.args.type == 'recording' %} selected="selected" {% endif %}>{{_('Recording')}}</option>
        <option value="label" {% if request.args.type == 'label' %} selected="selected" {% endif %}>{{_('Label')}}</option>
        <option value="release-group" {% if request.args.type == 'release-group' %} selected="selected" {% endif %}>{{_('Release Group')}}</option>
        <option value="work" {% if request.args.type == 'work' %} selected="selected" {% endif %}>{{_('Work')}}</option>
    </select>
    <input type="submit" value="search">
</form>
