body
{
    font-family: sans-serif;
    font-size: 0.8em;
}

header, footer, section
{
    box-sizing: border-box;
    border:1px solid grey;
    width:70%;
    margin:1% 15% 1% 15%;
    padding:1%;
    float:left;
}

#bio, #links
{
    border:1px solid grey;
    float: left;
    margin: 1%;
    width: 21%;
    padding:1%;
}

#wiki
{
    float:right;
    margin:1%;
    width:40%;
}

nav ul
{
    list-style-type:none;
}

nav li
{
    float:left;
    margin:1em;
}
